extends layout

block content
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box.quaternary
        div.col-lg-6.offset-lg-3
            h1 Get a Bingo Card
            p For game: #{game.name}
            p Enter your US-based mobile phone number below to receive your customized Bingo card. (Standard messaging rates apply.) 
            p By entering your phone number below, you consent to receive an SMS with your bingo card. 
            p 
              form#requestForm(action='' method='POST' novalidate onsubmit="return false;").mx-2.needs-validation
                input(type='hidden' id='gameId' name='gameId' value=game.id)
                label(for='phoneNumber') Mobile Phone Number
                | +1 
                input(id='phoneNumber' name='phoneNumber' required).form-control
                div.invalid-feedback
                  | Please enter a valid US mobile phone number.
                button.btn.btn-primary.m-2#submit Submit
  div.row.col-12#confirmation
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3 
            | Your card has been sent!
            div#cardLink
  div.row.col-12
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3     
            | Go back to 
            a(href='/bingo/game/'+game.id+'/update') View Game

  append foot
    script(type='text/javascript', src='/bingo/javascripts/card_request.js')
