extends layout

block content
  script(type='text/javascript', src='../../javascripts/jquery.js')
  script(type='text/javascript', src='../../javascripts/moment.js')
  script(type='text/javascript', src='../../javascripts/transition.js')
  script(type='text/javascript', src='../../javascripts/index.js')
  script(type='text/javascript', src='../../javascripts/bootstrap-datetimepicker.js')

  h1=title

  form(method='POST' action='')
    div.form-group
      p Game Code: #{game.code} 
      label(for='name') Game Name:
      input#name.form-control(type='text' placeholder='Game Name' required='true')
      

    button.btn.btn-primary(type='submit') Start Game

  if errors 
    ul
      for error in errors
        li!= error.msg
