extends layout

block content
  div.modal.fade#confirmModal(tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Confirm
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        div.modal-body
          p#messageText
        div.modal-footer
          button.btn.btn-secondary#cancelButton(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-primary#yesButton Yes
  div.modal.fade#shareModal(tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Share
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        div.modal-body
          p#messageText
        div.modal-footer
          button.btn.btn-secondary#cancelButton(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-primary#sendButton Send
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box
        div.col-lg-6.offset-lg-3
          h1
            | Game Code: !{game.code}
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box.quaternary
        div.col-lg-6.offset-lg-3
          | Game Name:
          div
            if game.name
            h2#gameNameDiv.bg-light.m-2
              | #{game.name}
          if game.name            
            if(game.status == false)
              button.btn.btn-primary.btn-lg#gameNameChangeButton Change
              input.form-control#gameName(type='text' placeholder='Game Name')
              button.btn.btn-primary.m-2#gameNameSaveButton Save
          else
            button.btn.btn-primary#gameNameChangeButton Change
            input.form-control#gameName(type='text' placeholder='Game Name')
            button.btn.btn-primary.btn-lg.m-2#gameNameSaveButton(type='submit') Save
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box
        div.col-lg-6.offset-lg-3      
        input(type='hidden' id='gameId' name='gameId' value=game.id)  
        div#gameStatusDiv
          if(game.status == false)
            div#gameStatusText Game Pending Start
          else
            div#gameStatusText Game In Progress
          input(type='hidden' id='gameStatus' name='gameStatus' value='false')
  if(game.status == false)   
    div.row.col-12#spaceRow
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3
            div#spaces
              div.accordion.m-1
                div.accordion-item
                  h2.accordion-header#headingOne
                    button.accordion-button(data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") RULES
                  div#collapseOne.accordion-collapse.collapse.show(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                    div.accordion-body
                      ol.m-1.list-group.list-group-numbered#rules
                        li.list-group-item
                          | Be nice! Assume everyone in the world can see this (because they can).
                        li.list-group-item
                          | Anyone participating can add spaces below. No one will know who added what. See rule 1.
                        li.list-group-item
                          | Once you have 24 spaces anyone can start the game.
                        li.list-group-item
                          | Once you start the game you cannot add more spaces, but you can get a card and start playing!
              ul.m-1.list-group#spaceList
                li.list-group-item#newSpaceLi
                  
                  div.input-group
                    div.input-group-prepend
                      span.input-group-text#totalSpaces
                    input.form-control#newSpace(type='text' placeholder='New Space' maxlength='120')
                  button.btn.btn-primary.btn-lg.m-1#addSpaceButton(type="submit") Add Space
  if(game.status == false)
    div.row.col-12#gameControlsBox
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3
            button.btn.btn-primary.btn-lg.m-1#startGameButton Start Game 
            button.btn.btn-primary.btn-lg.m-1#refresh Refresh Spaces
            button.btn.btn-primary.btn-lg.m-1#generate Generate Spaces
  if(game.status == true)
    div.row.col-12#requestCardButtonBox
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3   
            a(href='/bingo/card_request?gameId='+game.id) Request a Card

  if errors 
    ul
      for error in errors
        li!= error.msg

  append footer
    script(type='text/javascript', src='/bingo/javascripts/game_form.js')
