extends layout

block content
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box
        div.col-lg-6.offset-3
        h1
          | Game Code: #{game.code}
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box.quaternary
        div.col-lg-6.offset-lg-3     
          | Game Name:
          div#gameNameDiv
            if game.name
            | #{game.name}
          if game.name            
            if(game.status == false)
              button.btn.btn-tertiary.btn-lg.m-1#gameNameChangeButton Change
              input.form-control.m-1#gameName(type='text' placeholder='Game Name')
              button.btn.btn-tertiary.m-1#gameNameSaveButton Save
          else            
            button.btn.btn-tertiary.m-1#gameNameChangeButton Change
            input.form-control.m-1#gameName(type='text' placeholder='Game Name')
            button.btn.btn-tertiary.btn-lg.m-1#gameNameSaveButton Save
  div.row.col-12
    div.col
      div.border.rounded-3.text-center.text-box
        div.col-lg-6.offset-lg-3      
        div#gameStatusDiv
          if(game.status == false)
            div#gameStatusText Game Pending Start
          else
            div#gameStatusText Game In Progress
          input(type='hidden' id='gameStatus' name='gameStatus' value='false')
  if(game.status == false)   
    div.row.col-12#spaceRow
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3
            div#spaces
              p
                Your Game's Spaces (you need 24 to start):
              ul.list-group#spaceList
                li.list-group-item#newSpaceLi
                  input.form-control.m-1#newSpace(type='text' placeholder='New Space')
                  input(type='hidden' id='gameId' name='gameId' value=game.id)
              button.btn.btn-tertiary.btn-lg.m-1#addSpaceButton Add Space
  if(game.status == false)
    div.row.col-12#gameControlsBox
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3
            button.btn.btn-tertiary.btn-lg.m-1#startGameButton Start Game 
            button.btn.btn-tertiary.btn-lg.m-1#refresh Refresh Spaces
            //- button.btn.btn-tertiary.btn-lg.m-1#generate Generate Spaces
  div.row.col-12#messageBox
    div.col
      div.border.rounded-3.text-center.text-box
        div.col-lg-6.offset-lg-3
          div#messageText
          button.btn.btn-tertiary.btn-lg.m-1#yesButton Yes
          button.btn.btn-tertiary.btn-lg.m-1#noButton No
  if(game.status == true)
    div.row.col-12#requestCardButtonBox
      div.col
        div.border.rounded-3.text-center.text-box
          div.col-lg-6.offset-lg-3   
            a(href='/play/card_request?gameId='+game.id) Request a Card

  if errors 
    ul
      for error in errors
        li!= error.msg

  append foot
    script(type='text/javascript', src='/javascripts/game_form.js')
