extends layout

block content
  h1=title
  div.container
    div.row
      form(method='POST' action='')
        div.form-group
          p Game Code: #{game.code} 
          label(for='name') Game Name:
          input#name.form-control(type='text' placeholder='Game Name' required='true')
          
    
        button.btn.btn-primary(type='submit') Start Game
    div.row
      div.form-group
        label(for='newSpace') New Space:
        input#newSpace.form-control(type='text' placeholder='New Space')
        input(type='hidden' id='gameId' name='gameId' value=game.id)
        button.btn.btn-primary#addSpaceButton Add Space
    div.row
      ul.list-group#spaceList


  if errors 
    ul
      for error in errors
        li!= error.msg

  append foot
    script(type='text/javascript', src='/javascripts/game_form.js')
