extends layout

block content
  h1= title
  if user  
    p Welcome, #{user.username}, to #[em iserBINGO] v0.0.1, developed by rai
  else
    p Welcome to #[em iserBINGO] v0.0.1, developed by rai

  p Would you like to:

  a(class='button' href='/play/game/create') Create a New Game
  hr
  a(class='button' href='/play/spaces') Participate in an Existing Game
  
