extends layout

block content
  div.row.w-50
    div.col
      div.alert.alert-primary.text-center(role='alert')
        form.justify-content-center(method='POST' action='/play/game/create')
          button.btn.btn-secondary(type='submit') Create a New Game
  div.row.w-50
    div.col
      div.alert.alert-primary.text-center(role='alert')
        form(method='POST' action='/play/game/join')
          input#desc.form-control(type='text' placeholder='CODE' name='gameCode' required='true')
          button.btn.btn-secondary.form-control(type='submit') Participate in an Existing Game
    if errors 
      ul
        for error in errors
          li!= error.msg 
