doctype html
html(lang='en')
  head
    title= title
    link(rel='icon' type='image/png' href='/bingo/images/favicon.ico')
    meta(charsets='utf-8')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel="stylesheet", href='/bingo/stylesheets/bootstrap.css')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css")
    script(src='/bingo/javascripts/jquery-3.6.0.min.js')
    script(type='text/javascript', src='/bingo/javascripts/decode.js')
    link(rel='stylesheet', href='/bingo/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body.body
    div(class='container min-vh-100 d-flex justify-content-center align-items-center flex-column gap-3')    
      div.row.col-12
        div.col
            div.border.rounded-3.text-center.text-box         
              a(href="/bingo").masthead BINGO
              span.material-icons-outlined 
                
      block content
    
    footer
      div(class='container d-flex justify-content-center align-items-center flex-column gap-3').mt-3
        div.row.col-12#requestCardButtonBox
          div.col
            div.border.rounded-3.text-center.text-box
              div.col-lg-6.offset-lg-3  
                p 
                  | Created with <3 by rai
      script(type='text/javascript', src="/bingo/javascripts/bootstrap.bundle.js")
