body {
  background-color: #F1E0AC;
}

#gameNameUpdateButton {
  display: none;
}

.noShow {
  display: none;
}
  
.show {
  display: inline;
}

.checked {
  background-color: green;
}

.text-box {
  background-color: #74959A;
}

.btn-tertiary {
  color: #534340;
  background-color: #BB9981;
}

.quaternary {
  color: #534340;
}

/*
td {
  word-wrap:break-word;
  word-break:break-all;
}
*/

table {
  table-layout:fixed;
  width:100%;
}

.vlist-checked {
  text-decoration: line-through;
}