.body {
  background-color: #F4FCD9;
}

#gameNameUpdateButton {
  display: none;
}

.noShow {
  display: none;
}

.show {
  display: inline;
}

.checked {
  background-color: green;
}

body {
  background-color: #FFFFFF;
}

.text-box {
  background-color: #C5D8A4;
}

.btn-tertiary {
  color: #534340;
  background-color: #BB9981;
}

.quaternary {
  color: #534340;
}